/* Coolors Exported Palette - coolors.co/ea8c55-c75146-ad2e24-81171b-540804 */

/* HSL */
$color1: hsla(22%, 78%, 63%, 1);
$color2: hsla(5%, 54%, 53%, 1);
$color3: hsla(4%, 66%, 41%, 1);
$color4: hsla(358%, 70%, 30%, 1);
$color5: hsla(3%, 91%, 17%, 1);

/* RGB */
$color1: rgba(234, 140, 85, 1);
$color2: rgba(199, 81, 70, 1);
$color3: rgba(173, 46, 36, 1);
$color4: rgba(129, 23, 27, 1);
$color5: rgba(84, 8, 4, 1);